/*START TILES*/
.tile1 {
  margin-left: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 500px;
  height: 100px;
}

.tile2 {
  margin-left: 150px;
  margin-bottom: 50px;
  width: 500px;
  height: 100px;
}

.tile3 {
  margin-left: 150px;
  margin-bottom: 50px;
  width: 500px;
  height: 100px;
}

.tile4 {
  margin-left: 150px;
  margin-bottom: 50px;
  width: 500px;
  height: 100px;
}

.tile5 {
  margin-left: 150px;
  margin-bottom: 50px;
  width: 500px;
  height: 100px;
}

.title1 {
  margin-left: 200px;
  margin-top: 25px;
}

.title2 {
  margin-left: 185px;
  margin-top: 25px;
}

.title3 {
  margin-left: 210px;
  margin-top: 25px;
}

.title4 {
  margin-left: 215px;
  margin-top: 25px;
}

.title5 {
  margin-left: 215px;
  margin-top: 25px;
}

/*EINDE TILES*/
/*START IMAGES*/
.logo {
  max-width: 100px;
  margin-left: 355px;
  margin-top: 20px;
}

.blaadjes {
  width: 1800px;
  position: absolute;
}

/*EINDE IMAGES*/
