/* SIDE MENU START*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 8em;
  height: 100vh;
  display: grid;
  align-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  padding: .5em 2em;
  background: #333;
  color: #ccc;
  text-decoration: none;
  margin: .3em 0;
  border-left: 5px solid transparent;
  border-radius: 0 3em 3em 0;
}

nav a:hover {
  background: #000;
  color: #fff;
  border-left: 5px solid #fff;
}

section {
  min-height: 100vh;
  /* padding: 2em 2em 2em 8em; */
  display: grid;
  align-content: center;
  justify-content: center;
}

h3 {
  margin: 0;
}

a {
  color: #fff;
  font-style: italic;
}

a:hover {
  text-decoration: none;
}

#home {}

#overons {

}

#waarom {
  display: block;
  width: 100%;
  height: 939px;
  background-size: cover;
  background-position: center center;
}

#helpmee {
  display: block;
  width: 100%;
  height: 939px;
  background-size: cover;
  background-position: center center;
}

.tekst {
  font-family: "Raleyway";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 50%;
  max-width: 400px;
  color: white;
  margin: 80px;
}

#tekst {

  position: absolute;
  color: black;
  margin-top: 400px;
  margin-left: 500px;

}

#tekst2 {
float: left;
}

#tekst3 {
  float: right;
}

#href {
  color: white;
}

#href:hover {
  color: blue;
  text-decoration: underline;
}

/* SIDE MENU EINDE*/
/* BACKGROUND START*/
html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  height: 1000px;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* BACKGROUND EINDE*/
/*START TEKST*/
body {
  margin: 0;
  padding: 0;
  height: 100vw;
}

.threeD {
  color: green;
  white-space: nowrap;
  position: absolute;
  margin-left: 30px;
  margin-top: 20px;
  top: 30%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 green, 1px 2px 0 black, 1px 3px 0 black, 1px 4px 0 black,
    1px 5px 0 black, 1px 6px 0 black, 1px 7px 0 black, 1px 8px 0 black,
    5px 13px 15px black;
}

.threeD:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 green, 1px -2px 0 black, 1px -3px 0 black,
    1px -4px 0 black, 1px -5px 0 black, 1px -6px 0 black, 1px -7px 0 black,
    1px -8px 0 black, 5px -13px 15px black, 5px -13px 25px black;
}

/*EINDE TEKST*/
/*START ANIMATIE*/
body,
html {
  height: 100%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.container1 {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* width: 400px;
  margin-right: 100px;
  margin-top: 300px; */
}

.visjes {
  width: 331px;
  height: 331px;
  margin-top: 500px;
  margin-left: 1000px;
  overflow: hidden;
  position: absolute;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.container2 {
  width: 100%;
  height: 100%;
}

.visjes2 {
  width: 331px;
  height: 331px;
  margin-top: 300px;
  margin-left: 200px;
  overflow: hidden;
  position: absolute;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.container3 {
  width: 100%;
  height: 100%;
}

.blikje {
  width: 331px;
  height: 331px;
  margin-top: 20px;
  margin-left: 1170px;
  overflow: hidden;
  position: absolute;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin-right: 400px;
}

.container4 {
  width: 100%;
  height: 100%;
}

.flesje {
  width: 331px;
  height: 331px;
  margin-top: 210px;
  margin-left: 600px;
  overflow: hidden;
  position: absolute;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin-right: 400px;
}

.container5 {
  width: 100%;
  height: 100%;
}

.zakje {
  width: 331px;
  height: 331px;
  margin-top: 500px;
  overflow: hidden;
  position: absolute;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  margin-right: 400px;
}

/*EINDE ANIMATIE*/
/*START IMAGES*/
.logo {
  max-width: 150px;
  margin-left: 790px;
  margin-top: 20px;
}

.gras {
  width: 1612px;
  margin-right: 95px;
  margin-top: 255px;
}

.zee {
    width: 1517px;
}

/*EINDE IMAGES*/
